/* Basic HTML Selectors */

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-size: 16px;
    background-image: url(../images/obsidian_fieldlands.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header > h1 {text-align: center; padding: 8px;}

article {
    width: 25%;
    border: 4px solid white;
    border-radius: 8px;
    display: inline-block;
    margin: 10px 12px;
    text-align: left;
}

main {text-align: center;}

article > h2 {color: red; padding: 4px 8px;}

article:first-of-type {border: 4px solid red}

ul {list-style-type: none;}

ul li {padding: 6px 8px; text-transform: uppercase;
}

input[type=checkbox] {margin-right: 6px; float: right;
}

span {float: right;}

/* IDs */

#activehunt {border: 4px solid lightskyblue}
#activehunt h2 {color: lightskyblue;}

#caught {border: 4px solid lightgreen;}
#caught h2 {color: lightgreen;}

#arcanine {
    background-image: url(../images/arcanine-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#avalugg {
    background-image: url(../images/avalugg-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#basculegion {
    background-image: url(../images/basculegion.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#braviary {
    background-image: url(../images/braviary-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#decidueye {
    background-image: url(../images/decidueye-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#goodra {
    background-image: url(../images/goodra-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#growlithe {
    background-image: url(../images/growlithe-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#kleavor {
    background-image: url(../images/kleavor-regular.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#lilligant {
    background-image: url(../images/lilligant-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#overqwil {
    background-image: url(../images/overqwil.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#samurott {
    background-image: url(../images/samurott-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#sliggoo {
    background-image: url(../images/sliggoo-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#sneasler {
    background-image: url(../images/sneasler.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#typhlosion {
    background-image: url(../images/typhlosion-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#ursaluna {
    background-image: url(../images/ursaluna.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#wyrdeer {
    background-image: url(../images/wyrdeer.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#zoroark {
    background-image: url(../images/zoroark-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

#zorua {
    background-image: url(../images/zorua-hisuian.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

/* Classes */

.radar li:nth-child(odd) {background-color: red;}

.activehunt li:nth-child(odd) {background-color: lightskyblue;}

.caught li:nth-child(odd) {background-color: lightgreen;}

/* Checkboxes and Animation */

input[type=checkbox]:checked + #arcanine {background-image: url(../images/arcanine-hisuian-shiny.png);}

input[type=checkbox]:checked + #avalugg {background-image: url(../images/avalugg-hisuian-shiny.png);}

input[type=checkbox]:checked + #basculegion {background-image: url(../images/basculegion-shiny.png);}

input[type=checkbox]:checked + #braviary {background-image: url(../images/braviary-hisuian-shiny.png);}

input[type=checkbox]:checked + #decidueye {background-image: url(../images/decidueye-hisuian-shiny.png);}

input[type=checkbox]:checked + #goodra {background-image: url(../images/goodra-hisuian-shiny.png);}

input[type=checkbox]:checked + #growlithe {background-image: url(../images/growlithe-hisuian-shiny.png);}

input[type=checkbox]:checked + #kleavor {background-image: url(../images/kleavor-shiny.png);}

input[type=checkbox]:checked + #lilligant {background-image: url(../images/lilligant-hisuian-shiny.png);}

input[type=checkbox]:checked + #overqwil {background-image: url(../images/overqwil-shiny.png);}

input[type=checkbox]:checked + #samurott {background-image: url(../images/samurott-hisuian-shiny.png);}

input[type=checkbox]:checked + #sliggoo {background-image: url(../images/sliggoo-hisuian-shiny.png);}

input[type=checkbox]:checked + #sneasler {background-image: url(../images/sneasler-shiny.png);}

input[type=checkbox]:checked + #typhlosion {background-image: url(../images/typhlosion-hisuian-shiny.png);}

input[type=checkbox]:checked + #ursaluna {background-image: url(../images/ursaluna-shiny.png);}

input[type=checkbox]:checked + #wyrdeer {background-image: url(../images/wyrdeer-shiny.png);}

input[type=checkbox]:checked + #zoroark {background-image: url(../images/zoroark-hisuian-shiny.png);}

input[type=checkbox]:checked + #zorua {background-image: url(../images/zorua-hisuian-shiny.png);}

input[type=checkbox]:checked + #arcanine::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #avalugg::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #basculegion::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #braviary::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #decidueye::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #goodra::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #growlithe::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #kleavor::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #lilligant::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #overqwil::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #samurott::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #sliggoo::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #sneasler::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #typhlosion::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #ursaluna::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #wyrdeer::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #zoroark::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}

input[type=checkbox]:checked + #zorua::after {
    content: "\2728";
    position: absolute;
    font-size: 2em;
    animation: fadeIn 1s;
}
  

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }